body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



/*************************** GLOBALS ****************************/

:root {
    /** Dark theme primary colors */
  --color-primary: #1c50d9;
  --color-secondary: #4b61de;
  --color-tertiary: #6873e3;
  --color-quaternary: #8186e7;
  --color-senary: #9899ec;
  --color-septenary: #aeadf0;

  /** Dark theme surface colors */
  --color-background-primary: #121212;
  --color-background-secondary: #282828;
  --color-background-tertiary: #3f3f3f;
  --color-background-quaternary: #575757;
  --color-background-senary: #717171;
  --color-background-septenary: #8b8b8b;

  --color-text-primary: #ffffff;}

.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


/*************************** PARTICLES ****************************/
.particlesComponent {
  position: absolute; 
  width: 100%;
  height: 100%;
  z-index: -1;
}

/*************************** NAVIGATION-BAR ****************************/
